streamlit==1.46.1
streamlit-chat==0.1.1
streamlit-webrtc==0.63.3
python-dotenv==1.1.1

faiss-cpu==1.11.0
sentence-transformers==4.1.0
PyMuPDF==1.26.1

langchain==0.3.26
langchain-core==0.3.66
langchain-community==0.3.26
langchain-ollama==0.3.3
langchain-huggingface==0.3.0
langsmith==0.4.4

huggingface-hub==0.33.1
ollama==0.5.1
